@media (min-width: 1400px) {
  h2 {
    font-size: 40px;
  }
  .v-btn {
    width: 200px;
    height: 45px !important;
  }

  p {
    font-size: 22px;
    margin: 10px;
  }
  h5 {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
