@media (min-width: 700px) and (orientation: portrait) {
  h2 {
    font-size: 45px;
  }
  .v-btn {
    width: 200px;
    height: 55px !important;
    font-size: 20px;
  }
  img {
    height: 40vh;
  }
  h5 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
