@media (min-width: 1200px) {
  h2 {
    font-size: 40px;
  }

  p {
    font-size: 22px;
  }
  #home-img {
    width: 25vw;
  }
  #dashboard-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .v-list {
    width: 380px;
  }

}
